header{
  background-color: aquamarine;
  height: 5em;
  font-size: 23px;
  text-align: center;
}


nav{
  display: flex;
  align-items: center;
  justify-content: space-between;
}

nav a{
  display: block;
  border: 1px solid gray;
  border-radius: 5px;
  padding: 0.5em;
  background-color: aqua;
}


main{
  display: grid;
  grid-template-columns: 10em auto;
}

main aside{
  background-color: bisque;
}

main section{
  background-color: azure;
}

footer{
  background-color: blue;
  height: 5em;
  font-size: 23px;
  text-align: center;
}

.products-list .table-row{
  display: grid;
  grid-template-columns: 15em auto 5em;
}

.products-list div div{
  border: 1px solid gray;
}

#products-page .actions{
  display: flex;
  justify-content: space-between;
}

.product-create{
  margin: 0 auto;
  width: 20em;
}

.product-create div{
  display: flex;
  justify-content: space-between;
  padding: 1em;
}

.product-create div *{
  margin-left: 1em;
}

.alert-dialog{
  width: 20em;
  height: 4em;
  position: fixed;
  border: 1px solid gray;
  background-color: aqua;
  left: calc(50%-10em);
  top: calc(50%-2em);
  z-index: 11;
}

.page-dimming{
  background-color: black;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  opacity: 0.3;
  z-index: 10;
}